@use '@/variables.scss' as *;

.About {
  padding: calc($navbar-height + 1rem) 1rem 1rem;
  background: dimgray;
  color: white;
  text-align: center;

  & > .cardsList {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-content: center;
    width: 100%;
    max-width: 70rem;
    margin: auto;
  }
}
