.Home {
  height: 100%;
  color: white;
  text-align: center;

  & > img {
    width: 25%;
  }

  & > h1 {
    margin: 0;
  }

  & > h3 > button {
    width: 2rem;
    margin: 0.25rem;
    border: none;
    border-radius: 4px;
    background: rgb(184, 215, 255);
    font-size: 1.1rem;
  }
}
