@use '@/variables.scss' as *;

.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-flow: column;
  transition:
    backdrop-filter 0.45s ease 0s allow-discrete,
    box-shadow 0.28s ease;

  a {
    color: #333;

    &[aria-current] {
      color: #0c84ca;
    }
  }

  & > .nav-main {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: $navbar-height;
    padding: 1rem max(calc(50% - 620px), 2rem);
    background: #fafafad0;
    box-shadow: 5px 3px 8px 0 rgba(0, 0, 0, 0.06);
    font-weight: 700;
    font-size: 1.25rem;
    transition: backdrop-filter 0.2s ease;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    & > a,
    & > a > img {
      height: 100%;
    }

    & > button {
      display: none;
      width: 2rem;
      height: 2rem;
      background: none;
      stroke: #333;
      transition: all 0.15s ease;
      stroke-width: 2;

      @media only screen and (hover: hover) {
        &:hover {
          stroke-width: 3;
        }
      }

      &:active {
        stroke: #0c84ca;
        transition-duration: 0s;
        stroke-width: 4;
      }

      & > svg {
        height: 100%;
      }
    }

    & > div {
      display: flex;
      gap: 1rem;
    }
  }

  & > .nav-extension {
    display: none;
    flex-flow: column;
    height: 100%;
    padding-bottom: 1rem;
    box-shadow: 5px 3px 8px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.45s;
    clip-path: inset(0 0 100% 0);

    & > a {
      width: 100%;
      padding: 1rem;
      font-weight: 700;
      font-size: 1.25rem;
      text-align: center;
    }
  }

  &.show {
    box-shadow: 5px 3px 8px 0 rgba(0, 0, 0, 0.06);
    transition-delay: 0s, 0.28s;
    transition-duration: 0.45s, 0.45s;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    & > .nav-main {
      box-shadow: none;
      -webkit-backdrop-filter: blur(0);
      backdrop-filter: blur(0);
    }

    & > .nav-extension {
      background: #fafafad0;
      clip-path: inset(0);
    }
  }

  /* stylelint-disable-next-line order/order */
  @media screen and (max-width: 960px) {
    & > .nav-main {
      justify-content: space-between;
      padding: 1rem max(calc(50% - 620px), 2rem);

      & > button {
        display: block;
      }

      & > div {
        display: none;
      }
    }

    & > .nav-extension {
      display: flex;
    }
  }
}
