footer {
  padding: 0 max(calc(50% - 620px), 4rem);
  background: #363636;
  color: #fff;
  font-weight: 600;

  & > .main {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-width: 2px;
    border-bottom: solid #4a4a4a;
    letter-spacing: 0.85px;

    & > div {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      width: fit-content;
      margin: 0 auto;
      font-size: 12.5px;

      & > h6 {
        margin: 2rem 0 0;
        color: #fff;
        font-size: 14px;
      }

      & > a {
        color: #c3c3c3;
        line-height: 18px;
        transition: all 0.2s ease;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  & > .copyright {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    font-size: 14px;
    opacity: 0.7;

    & > a {
      fill: #fff;

      @media only screen and (hover: hover) {
        &:hover {
          fill-opacity: 0.7;
        }
      }

      & > svg {
        width: 1.6rem;
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  @media screen and (max-width: 1024px) {
    padding: 0 max(calc(50% - 620px), 2rem);

    .main {
      flex-flow: column;
      text-align: center;
    }
  }
}
