@use '@/variables.scss' as *;

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* Custom scrollbar for Firefox */ /* stylelint-disable-next-line order/order */
  @-moz-document url-prefix() {
    scrollbar-color: #0006 #0000; /* stylelint-disable-line plugin/no-unsupported-browser-features */
    scrollbar-width: thin; /* stylelint-disable-line plugin/no-unsupported-browser-features */
  }
}

html,
body {
  height: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent; // Remove gray highlights on links (iOS)
  -webkit-text-size-adjust: 100%; // Keep font-size after rotation (iOS)
}

a {
  text-decoration: none;
}

button {
  border: transparent;
  cursor: pointer;
}

/* Custom scrollbars for Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #0004;

  &:hover {
    background: #0006;
  }

  &:active {
    background: #0007;
  }
}
