@use '@/variables.scss' as *;

.NotFound {
  display: flex;
  height: 100%;
  padding: calc($navbar-height + 1rem) 1rem 1rem;
  background: crimson;
  color: white;

  & > div {
    margin: auto;
    text-align: center;

    & > a {
      color: rgb(184, 215, 255);
    }
  }
}
